<br>
<br>
<br>
<div class="text-center" >
  <p>Detalhes do Livro:</p>
</div>

<div class="d-flex flex-column mb-3">
  <p class="lh-base fs-3"><strong>Nome: <%= @book.title %> </strong></p>
  <p class="lh-base fs-6"><strong>Autor: <%= @book.author %> </strong></p>
  <p class="lh-base fs-6"><strong>Descrição: <%= @book.description %> </strong></p>
</div>